@inject HttpClient client
@inject IJSRuntime js

@{
    string title = string.Empty;
}

@if (AppState.IsAuthenticated)
{
    @if (SIC_result == null)
    {
        title = "Loading...";
    }
    else
    {
        //Surface Interval Credit Table
        <div class="table-responsive">
            <div class="lh-table-container-chart">
                <div class="lh-header-container">
                </div>
                <div class="lh-td-container">
                    <h5 class="verticaltext">&nbsp;&nbsp;&nbsp;Start&nbsp;of&nbsp;Surface&nbsp;Interval</h5>
                </div>
                <div class="lh-table-container-inner">
                    <table class="table table-sm table-striped lh-table table-hover">
                        <caption class="lh-caption">
                            Surface Interval Credit Table (all times in minutes)
                        </caption>
                        <thead>
                            <tr>
                                <th class="lh-th" colspan="30"><div class="lh-th-topline lh-first">Pressure group at end of surface interval (all times in minutes)</div></th>
                            </tr>
                            <tr>
                                <th colspan="3" class="lh-th"><div class="lh-th-bottomline"></div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">Z</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">Y</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">X</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">W</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">V</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">U</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">T</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">S</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">R</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">Q</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">P</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">O</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">N</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">M</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">L</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">K</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">J</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">I</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">H</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">G</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">F</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">E</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">D</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">C</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">B</div></th>
                                <th class="lh-th"><div class="lh-th-bottomline">A</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in SIC_result)
                            {
                                <tr>
                                    <td class="lh-td-spacer"></td>
                                    <td class="lh-td-rowspan" rowspan="2">
                                        @item.StartingPressureGroup
                                    </td>
                                    <td class="lh-td">Start</td>
                                    <td class="lh-td">@(item.Z - item.Z)</td>
                                    <td class="lh-td">
                                        @if (item.Z != null)
                                        {
                                            @(item.Z + 1)
                                        }
                                        else if (item.Y != null)
                                        {
                                            @(item.Y - item.Y)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.Y != null)
                                        {
                                            @(item.Y + 1)
                                        }
                                        else if (item.X != null)
                                        {
                                            @(item.X - item.X)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.X != null)
                                        {
                                            @(item.X + 1)
                                        }
                                        else if (item.W != null)
                                        {
                                            @(item.W - item.W)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.W != null)
                                        {
                                            @(item.W + 1)
                                        }
                                        else if (item.V != null)
                                        {
                                            @(item.V - item.V)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.V != null)
                                        {
                                            @(item.V + 1)
                                        }
                                        else if (item.U != null)
                                        {
                                            @(item.U - item.U)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.U != null)
                                        {
                                            @(item.U + 1)
                                        }
                                        else if (item.T != null)
                                        {
                                            @(item.T - item.T)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.T != null)
                                        {
                                            @(item.T + 1)
                                        }
                                        else if (item.S != null)
                                        {
                                            @(item.S - item.S)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.S != null)
                                        {
                                            @(item.S + 1)
                                        }
                                        else if (item.R != null)
                                        {
                                            @(item.R - item.R)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.R != null)
                                        {
                                            @(item.R + 1)
                                        }
                                        else if (item.Q != null)
                                        {
                                            @(item.Q - item.Q)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.Q != null)
                                        {
                                            @(item.Q + 1)
                                        }
                                        else if (item.P != null)
                                        {
                                            @(item.P - item.P)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.P != null)
                                        {
                                            @(item.P + 1)
                                        }
                                        else if (item.O != null)
                                        {
                                            @(item.O - item.O)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.O != null)
                                        {
                                            @(item.O + 1)
                                        }
                                        else if (item.N != null)
                                        {
                                            @(item.N - item.N)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.N != null)
                                        {
                                            @(item.N + 1)
                                        }
                                        else if (item.M != null)
                                        {
                                            @(item.M - item.M)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.M != null)
                                        {
                                            @(item.M + 1)
                                        }
                                        else if (item.L != null)
                                        {
                                            @(item.L - item.L)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.L != null)
                                        {
                                            @(item.L + 1)
                                        }
                                        else if (item.K != null)
                                        {
                                            @(item.K - item.K)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.K != null)
                                        {
                                            @(item.K + 1)
                                        }
                                        else if (item.J != null)
                                        {
                                            @(item.J - item.J)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.J != null)
                                        {
                                            @(item.J + 1)
                                        }
                                        else if (item.I != null)
                                        {
                                            @(item.I - item.I)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.I != null)
                                        {
                                            @(item.I + 1)
                                        }
                                        else if (item.H != null)
                                        {
                                            @(item.H - item.H)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.H != null)
                                        {
                                            @(item.H + 1)
                                        }
                                        else if (item.G != null)
                                        {
                                            @(item.G - item.G)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.G != null)
                                        {
                                            @(item.G + 1)
                                        }
                                        else if (item.F != null)
                                        {
                                            @(item.F - item.F)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.F != null)
                                        {
                                            @(item.F + 1)
                                        }
                                        else if (item.E != null)
                                        {
                                            @(item.E - item.E)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.E != null)
                                        {
                                            @(item.E + 1)
                                        }
                                        else if (item.D != null)
                                        {
                                            @(item.D - item.D)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.D != null)
                                        {
                                            @(item.D + 1)
                                        }
                                        else if (item.C != null)
                                        {
                                            @(item.C - item.C)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.C != null)
                                        {
                                            @(item.C + 1)
                                        }
                                        else if (item.B != null)
                                        {
                                            @(item.B - item.B)
                                        }
                                    </td>
                                    <td class="lh-td">
                                        @if (item.B != null)
                                        {
                                            @(item.B + 1)
                                        }
                                        else if (item.A != null)
                                        {
                                            @(item.A - item.A)
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="lh-td-spacer"></td>
                                    <td class="lh-td">End</td>
                                    <td class="lh-td">@item.Z</td>
                                    <td class="lh-td">@item.Y</td>
                                    <td class="lh-td">@item.X</td>
                                    <td class="lh-td">@item.W</td>
                                    <td class="lh-td">@item.V</td>
                                    <td class="lh-td">@item.U</td>
                                    <td class="lh-td">@item.T</td>
                                    <td class="lh-td">@item.S</td>
                                    <td class="lh-td">@item.R</td>
                                    <td class="lh-td">@item.Q</td>
                                    <td class="lh-td">@item.P</td>
                                    <td class="lh-td">@item.O</td>
                                    <td class="lh-td">@item.N</td>
                                    <td class="lh-td">@item.M</td>
                                    <td class="lh-td">@item.L</td>
                                    <td class="lh-td">@item.K</td>
                                    <td class="lh-td">@item.J</td>
                                    <td class="lh-td">@item.I</td>
                                    <td class="lh-td">@item.H</td>
                                    <td class="lh-td">@item.G</td>
                                    <td class="lh-td">@item.F</td>
                                    <td class="lh-td">@item.E</td>
                                    <td class="lh-td">@item.D</td>
                                    <td class="lh-td">@item.C</td>
                                    <td class="lh-td">@item.B</td>
                                    <td class="lh-td">@item.A</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}
else
{
    <h1>Authentication Failure!</h1>
    <p>You're not signed in.</p>
}

@code {
    DiveChartView dcv { get; set; }

    List<DiveChartView.SIC> SIC_result { get; set; }

    protected override async Task OnInitializedAsync()
    {
        dcv = await client.GetFromJsonAsync<DiveChartView>($"api/padi/byMeasurement?mesurementid=35");

        SIC_result = dcv.ListSIC;
    }
}
