<EditForm Model="@div" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="scrollable-area">
        @*<input id="Act" name="Act" type="hidden" value="@act" />*@

        <div class="panel-group" id="diveaccordion">
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#diveaccordion" href="#dive">
                    <div class="panel-heading">
                        <h6 class="panel-title alert alert-danger">
                            Dive information <span class="text-danger">(Required)</span>
                        </h6>
                    </div>
                </a>
                <div id="dive" class="panel-collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="field-label" title="Location">Location</span>
                                <br />
                                <InputSelect class="form-control form-control-lg" @bind-Value=div.DiveLocationID>
                                    <option value="1">Pending</option>
                                    <option value="2">Active</option>
                                    <option value="3">Suspended</option>
                                </InputSelect>
                            </div>
                            <div class="col-sm-4">
                                <span class="field-label" title="Dive date & start time">Date &amp; Time</span>
                                <br />
                                <InputDate class="form-control form-control-lg" @bind-Value="@div.DiveDateTime" />
                                <ValidationMessage For="@(() => div.DiveDateTime)" />
                            </div>
                            <div class="col-sm-4">
                                <span class="field-label" title="Breathing">Breathing</span>
                                <br />
                                <span class="field-value">
                                    <InputSelect class="form-control form-control-lg" @bind-Value=div.BreathingID>
                                        @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 1))
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </InputSelect>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="field-label" title="Water Type">Water Type</span>
                                <br />
                                <InputSelect class="form-control form-control-lg" @bind-Value=div.WaterTypeID>
                                    @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 2))
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="col-sm-4">
                                <span class="field-label" title="Water Entry">Water Entry</span>
                                <br />
                                <InputSelect class="form-control form-control-lg" @bind-Value=div.WaterEntryID>
                                    @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 3))
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="col-sm-4">
                                <span class="field-label" title="Water Visibility">Water Visibility</span>
                                <br />
                                <InputNumber class="form-control form-control-lg" @bind-Value="@div.WaterVisibility" />
                                <ValidationMessage For="@(() => div.WaterVisibility)" />
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-4 col-xs-push-2 col-sm-2">
                                    <span class="field-label " title="Starting Pressure Group">SPG</span>
                                    <br />
                                    <InputText class="form-control-lg" @bind-Value="@div.StartPressureGroup" />
                                    <ValidationMessage For="@(() => div.StartPressureGroup)" />
                                </div>
                                <div class="col-xs-1 col-xs-push-3">
                                    <span class="field-label " title="Ending pressure group">EPG</span>
                                    <br />
                                    <InputText class="form-control form-control-lg input-1" @bind-Value="@div.EndPressureGroup" />
                                    <ValidationMessage For="@(() => div.EndPressureGroup)" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-xs-pull-1 col-sm-push-1">
                                    <span class="field-label " title="Max Depth">MD</span>
                                    <br />
                                    <InputNumber class="form-control form-control-lg" @bind-Value="@div.Depth" />
                                    <ValidationMessage For="@(() => div.Depth)" />
                                </div>
                                <div style="background-image: url('~/wwwroot/css/Images/DiveChart.png');">
                                    @*<p style="background-image: url('~/wwwroot/css/Images/DiveChart.png');">
                                    </p>*@
                                    <br />
                                    <span class="field-label" title="Bottom time (in minutes)">BT</span>
                                    <br />
                                    <InputNumber class="form-control form-control-lg" @bind-Value="@div.BottomTime" />
                                    <ValidationMessage For="@(() => div.BottomTime)" />
                                    <span class="field-label">minutes</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <span class="field-label" title="Surface Interval (in minutes)">SI</span>
                            <br />
                            <InputNumber class="form-control form-control-lg" @bind-Value="@div.SurfaceInterval" />
                            <ValidationMessage For="@(() => div.SurfaceInterval)" />
                            <span class="field-label">minutes</span>
                            <br />
                            <span class="field-label" title="New pressure group">NPG</span>
                            <br />
                            <InputText class="form-control form-control-lg input-1" @bind-Value="@div.NewPressureGroup" />
                            <ValidationMessage For="@(() => div.NewPressureGroup)" />
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <span class="field-label" title="Tank starting pressure">Tank starting pressure</span>
                                <br />
                                <InputNumber class="form-control form-control-lg" @bind-Value="@div.TankPressureStart" />
                                <ValidationMessage For="@(() => div.TankPressureStart)" />
                            </div>
                            <div class="col-xs-6">
                                <span class="field-label" title="Tank ending pressure">Tank ending pressure</span>
                                <br />
                                <InputNumber class="form-control form-control-lg" @bind-Value="@div.TankPressureEnd" />
                                <ValidationMessage For="@(() => div.TankPressureEnd)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="field-label" title="Verifacation Type">Verifacation Type</span>
                                <br />
                                <InputSelect class="form-control form-control-lg" @bind-Value=div.SignatureTypeID>
                                    @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 8))
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="col-sm-6">
                                <span class="field-label" title="Certification No.">Certification No.</span>
                                <br />
                                <InputText class="form-control form-control-lg" @bind-Value="@div.CertificationNo" />
                                <ValidationMessage For="@(() => div.CertificationNo)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="field-label" title="Signature">Signature</span> <button class="btn btn-default btn-xs" data-toggle="" onclick="clearSignature(); return false;" title="Clear Signature"><i class="glyphicon glyphicon-remove"></i></button>
                                <br />
                                <div id="signaturebox" class="kbw-signature">
                                </div>
                                <br />
                                <label id="reqsignature" name="reqsignature" class="error"></label>
                                <br />


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#diveaccordion" href="#exposure">
                    <div class="panel-heading">
                        <h6 class="panel-title alert alert-info">
                            Exposure Suit/Weight <span class="text-info">(Optional)</span>
                        </h6>
                    </div>
                </a>
                <div id="exposure" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="field-label" title="Suit">Suit</span>
                                <br />
                                <span class="field-value">
                                    <InputSelect class="form-control form-control-lg" @bind-Value=div.ExposureProtectionID>
                                        @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 4))
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </InputSelect>
                                </span>
                            </div>
                            <div class="col-sm-4">
                                <span class="field-label" title="Head/Hands/Feet">Head/Hands/Feet</span>
                                <br />
                                <span class="field-value">
                                    <InputSelect class="form-control form-control-lg" @bind-Value=div.ExposureProtectionHHFID>
                                        @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 5))
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </InputSelect>
                                </span>
                            </div>
                            <div class="col-sm-2">
                                <span class="field-label" title="Thickness in mm">Thickness</span>
                                <br />

                            </div>
                            <div class="col-sm-2">
                                <span class="field-label" title="Weight">Weight</span>
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#diveaccordion" href="#locweather">
                    <div class="panel-heading">
                        <h6 class="panel-title alert alert-info">
                            Weather & Conditions <span class="text-info">(Optional)</span>
                        </h6>
                    </div>
                </a>
                <div id="locweather" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="field-label" title="Weather">Weather</span>
                                <br />
                                <span class="field-value">
                                    <InputSelect class="form-control form-control-lg" @bind-Value=div.WeatherID>
                                        @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 6))
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </InputSelect>
                                </span>
                            </div>
                            <div class="col-sm-4">
                                <span class="field-label" title="Air Temperature">Air temp</span>
                                <br />

                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="field-label" title="Water conditions">Water</span>
                                <br />
                                <span class="field-value">
                                    <InputSelect class="form-control form-control-lg" @bind-Value=div.WaterConditionID>
                                        @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 7))
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </InputSelect>
                                </span>
                            </div>
                            <div class="col-sm-4">
                                <span class="field-label" title="Surface Temperature">Surface temp</span>
                                <br />

                            </div>
                            <div class="col-sm-4">
                                <span class="field-label" title="Bottom Temperature">Bottom temp</span>
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#diveaccordion" href="#comments">
                    <div class="panel-heading">
                        <h6 class="panel-title alert alert-info">
                            Comments <span class="text-info">(Optional)</span>
                        </h6>
                    </div>
                </a>
                <div id="comments" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <span class="field-label" title="Comments">Comments</span>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>

</EditForm>


@code {
    //[Parameter] public DiveFormData dfd { get; set; }
    [Parameter] public Dives div { get; set; }
    [Parameter] public List<DiveDropdownData> ddd { get; set; }
    [Parameter] public List<ViewLocation> loc { get; set; }
    [Parameter] public DiveGraphic dg { get; set; }


    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }


}
