<TheDiveLog.Client.Pages.Components.LocationModal @ref="locationModal"></TheDiveLog.Client.Pages.Components.LocationModal>

<div class="container">
    <EditForm Model="@div" OnValidSubmit="@OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="scrollable-form">
            <div class="accordion" id="diveaccordion">
                @*Dive*@
                <div class="card" style="background-color:transparent">
                    <div class="card-header alert-danger" id="diveheading">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#dive" aria-expanded="true" aria-controls="dive">
                                Dive information <span class="text-danger">(Required)</span>
                            </button>
                        </h2>
                    </div>
                    <div id="dive" class="collapse show" aria-labelledby="diveheading" data-parent="#diveaccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                    <span class="field-label" title="Location">Location</span>
                                    @*<a class="btn btn-transparent text-success" @onclick="@(() => ChkSelected(-1))" data-toggle="tooltip" data-placement="auto" title="Add new Location"><i class="oi oi-plus"></i></a>*@
                                    <br />
                                    <select class="form-control form-control-lg" @bind="@uiLocation">
                                        @foreach (Locations item in alllocs)
                                        {
                                            <option value="@item.Id">@($"{item.Location}, {item.Located}")</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                    <span class="field-label" title="Dive date & start time">Date &amp; Time</span>
                                    <br />
                                    <RadzenDatePicker class="form-control form-control-lg input-datetime" ShowTime="true" @bind-Value="@div.DiveDateTime" HourFormat="12" DateFormat="dd/MM/yyyy hh:mm tt" />
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                    <span class="field-label" title="Breathing">Breathing</span>
                                    <br />
                                    <span class="field-value">
                                        <select class="form-control form-control-lg select-breathing" @bind=div.BreathingID>
                                            @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 1))
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </span>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                    <span class="field-label" title="Tank starting pressure">Tank starting pressure</span>
                                    <br />
                                    <input type="number" class="form-control form-control-lg input-10" maxlength="5" @bind="@div.TankPressureStart" />
                                    <ValidationMessage For="@(() => div.TankPressureStart)" />
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                    <span class="field-label" title="Tank ending pressure">Tank ending pressure</span>
                                    <br />
                                    <input type="number" class="form-control form-control-lg input-10" maxlength="5" @bind="@div.TankPressureEnd" />
                                    <ValidationMessage For="@(() => div.TankPressureEnd)" />
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                    <span class="field-label" title="Water Type">Water Type</span>
                                    <br />
                                    <select class="form-control form-control-lg select-water" @bind=div.WaterTypeID>
                                        @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 2))
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                    <span class="field-label" title="Water Entry">Water Entry</span>
                                    <br />
                                    <select class="form-control form-control-lg select-water" @bind=div.WaterEntryID>
                                        @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 3))
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                    <span class="field-label" title="Water Visibility">Water Visibility</span>
                                    <br />
                                    <input type="number" class="form-control form-control-lg input-10" maxlength="4" @bind="@div.WaterVisibility" />
                                    <ValidationMessage For="@(() => div.WaterVisibility)" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-8 col-md-6 col-lg-4">
                                    <span class="field-label" title="Starting Pressure Group">SPG</span>
                                    <br />
                                    <input type="text" class="form-control-lg input-1-alpha" maxlength="1" @bind="@div.StartPressureGroup" />
                                    <ValidationMessage For="@(() => div.StartPressureGroup)" />
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <span class="field-label" title="Ending pressure group">EPG</span>
                                    <br />
                                    <input type="text" class="form-control form-control-lg input-1-alpha" maxlength="1" @bind="@div.EndPressureGroup" />
                                    <ValidationMessage For="@(() => div.EndPressureGroup)" />
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 divechart" style="margin-top:0px;">
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 md">
                                            <span class="field-label" title="Max Depth">MD</span>
                                            <br />
                                            <input type="number" class="form-control form-control-lg input-6" maxlength="4" @bind="@div.Depth" />
                                            <ValidationMessage For="@(() => div.Depth)" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                            <br />
                                            <span class="field-label bt" title="Bottom time (in minutes)">BT</span>
                                            <br />
                                            <input type="number" class="form-control form-control-lg input-6 bt" maxlength="3" @bind="@div.BottomTime" />
                                            <ValidationMessage For="@(() => div.BottomTime)" />
                                            <span class="field-label bt">minutes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                    <span class="field-label" title="Verifacation Type">Verifacation Type</span>
                                    <br />
                                    <select class="form-control form-control-lg select-verifacation" @bind=div.SignatureTypeID>
                                        @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 8))
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                    <span class="field-label" title="Certification No.">Certification No.</span>
                                    <br />
                                    <input type="text" class="form-control form-control-lg" @bind="@div.CertificationNo" />
                                    <ValidationMessage For="@(() => div.CertificationNo)" />
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                                    <span class="field-label" title="Signature">Signature</span>
                                    <br />
                                    <SignaturePad />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Exposure*@
                <div class="card" style="background-color:transparent">
                    <div class="card-header alert-info" id="exposureheading">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#exposure" aria-expanded="false" aria-controls="exposure">
                                Exposure Suit/Weight <span class="text-info">(Optional)</span>
                            </button>
                        </h2>
                    </div>
                    <div id="exposure" class="collapse" aria-labelledby="exposureheading" data-parent="#diveaccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                                    <span class="field-label" title="Suit">Suit</span>
                                    <br />
                                    <span class="field-value">
                                        <select class="form-control form-control-lg  select-suit" @bind=div.ExposureProtectionID>
                                            @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 4))
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </span>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                    <span class="field-label" title="Head/Hands/Feet">Head/Hands/Feet</span>
                                    <br />
                                    <span class="field-value">
                                        <select class="form-control form-control-lg  select-hhf" @bind=div.ExposureProtectionHHFID>
                                            @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 5))
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </span>
                                </div>
                                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                                    <span class="field-label" title="Thickness in mm">Thickness</span>
                                    <br />
                                    <input type="number" class="form-control form-control-lg input-5" maxlength="3" @bind="@div.ExposureProtectionMM" />
                                    <ValidationMessage For="@(() => div.ExposureProtectionMM)" />
                                </div>
                                <div class="col-6 col-sm-6 col-md-2 col-lg-3">
                                    <span class="field-label" title="Weight">Weight</span>
                                    <br />
                                    <input type="number" class="form-control form-control-lg input-5" maxlength="3" @bind="@div.Weight" />
                                    <ValidationMessage For="@(() => div.Weight)" />
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                @*Local Weather*@
                <div class="card" style="background-color:transparent">
                    <div class="card-header alert-info" id="locweatherheading">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#locweather" aria-expanded="false" aria-controls="locweather">
                                Weather & Conditions <span class="text-info">(Optional)</span>
                            </button>
                        </h2>
                    </div>
                    <div id="locweather" class="collapse" aria-labelledby="locweatherheading" data-parent="#diveaccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                    <span class="field-label" title="Weather">Weather</span>
                                    <br />
                                    <span class="field-value">
                                        <select class="form-control form-control-lg  select-weather" @bind=div.WeatherID>
                                            @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 6))
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </span>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                    <span class="field-label" title="Air Temperature">Air temp</span>
                                    <br />
                                    <input type="number" class="form-control form-control-lg input-5" @bind="@div.AirTemperature" />
                                    <ValidationMessage For="@(() => div.AirTemperature)" />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                    <span class="field-label" title="Water conditions">Water</span>
                                    <br />
                                    <span class="field-value">
                                        <select class="form-control form-control-lg  select-waterc" @bind=div.WaterConditionID>
                                            @foreach (DiveDropdownData item in ddd.Where(b => b.TypeId == 7))
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </span>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                                    <span class="field-label" title="Surface Temperature">Surface temp</span>
                                    <br />
                                    <input type="number" class="form-control form-control-lg input-5" maxlength="3" @bind="@div.WaterSurfaceTemperature" />
                                    <ValidationMessage For="@(() => div.WaterSurfaceTemperature)" />
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                                    <span class="field-label" title="Bottom Temperature">Bottom temp</span>
                                    <br />
                                    <input type="number" class="form-control form-control-lg input-5" maxlength="3" @bind="@div.WaterBottomTemperature" />
                                    <ValidationMessage For="@(() => div.WaterBottomTemperature)" />
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                @*Comments*@
                <div class="card" style="background-color:transparent">
                    <div class="card-header alert-info" id="commentsheading">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#comments" aria-expanded="false" aria-controls="comments">
                                Comments <span class="text-info">(Optional)</span>
                            </button>
                        </h2>
                    </div>
                    <div id="comments" class="collapse" aria-labelledby="commentsheading" data-parent="#diveaccordion">
                        <div class="card-body">
                            <div class="row">
                                <span class="field-label" title="Comments">Comments</span>
                                <br />
                                <textarea rows="10" spellcheck="true" class="form-control form-control-lg" @bind="@div.Comments" />
                                <ValidationMessage For="@(() => div.Comments)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-success">
            @ButtonText
        </button>
    </EditForm>
</div>

@code {
    private TheDiveLog.Client.Pages.Components.LocationModal locationModal { get; set; }

    [Parameter] public Dives div { get; set; }
    [Parameter] public List<DiveDropdownData> ddd { get; set; }
    [Parameter] public List<ViewLocation> loc { get; set; }
    [Parameter] public List<Locations> alllocs { get; set; }
    [Parameter] public DiveGraphic dg { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}

@functions {
    long _uiLocation;
    long uiLocation
    {
        get
        {
            if(div.DiveLocationID != 0)
            {
                _uiLocation = div.DiveLocationID;
            }

            return _uiLocation;
        }

        set
        {
            if (value == -1)
            {
                locationModal.LocationOpen(value);
            }
            _uiLocation = value;
        }
    }
}
